@use "./_vars.scss" as *;
@use "./mixins/pxToRem.scss" as *;

.mob-menu {
  $offset-borders: 24;
  position: fixed;
  overflow-y: auto;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 30;
  display: none;
  flex-direction: column;
  @include pxToRem(width, 320);
  @include pxToRem(padding, $offset-borders);
  @include pxToRem(row-gap, 46);
  filter: drop-shadow(-2px 0px 4px rgba(69, 79, 126, 0.02))
    drop-shadow(16px 0px 52px rgba(14, 24, 80, 0.2));
  &--active {
    display: flex;
  }
  &__header {
    display: flex;
    @include pxToRem(gap, 16);
    align-items: center;
    .action__button:last-child {
      margin-left: auto;
    }
  }
  &__links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    @include pxToRem(row-gap, 32);
    font-weight: 500;
    @include pxToRem(font-size, 16);
    @include pxToRem(line-height, 24);
    letter-spacing: -0.2px;
    .mob-menu {
      &__link {
        &::first-letter {
          text-transform: uppercase;
        }
        &--active {
          color: $gray;
          position: relative;
          &::before {
            content: "";
            display: block;
            position: absolute;
            @include pxToRem(top, -4);
            @include pxToRem(left, calc($offset-borders * -1 - 1));
            @include pxToRem(height, 32);
            @include pxToRem(width, 4);
            background-color: $cyan;
            border-radius: 9999px;
          }
        }
      }
    }
  }
  &__footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include pxToRem(row-gap, 12);
    .mob-menu {
      &__buttons {
        display: flex;
        align-items: center;
        @include pxToRem(gap, 16);
      }
      &__email {
        @include pxToRem(font-size, 16);
        @include pxToRem(line-height, 24);
        font-weight: 500;
      }
      &__tel {
        @include pxToRem(font-size, 24);
        @include pxToRem(line-height, 32);
        font-weight: bold;
        letter-spacing: -0.6px;
      }
      &__langs {
        @include pxToRem(margin-top, 28);
        display: flex;
        align-items: center;
        @include pxToRem(gap, 8);
        .mob-menu {
          &__lang {
            text-transform: uppercase;
            @include pxToRem(font-size, 16);
            @include pxToRem(line-height, 24);
            font-weight: 500;
            letter-spacing: -0.2px;
            &--active {
              color: $gray;
            }
          }
        }
      }
    }
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 19px 16px;
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid $light-cyan;
  @media (min-width: $breakpoints-lg) {
    display: none;
  }
  .header__info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__logo {
      display: flex;
      align-items: center;
      @include pxToRem(gap, 16);
    }
    .header__action-btns {
      display: none;
      align-items: center;
      justify-content: center;
      @include pxToRem(gap, 16);
      @media (min-width: $breakpoints-md) {
        display: flex;
      }
    }
    .header__divider {
      border-radius: 9999px;
      @include pxToRem(width, 2);
      @include pxToRem(height, 32);
      background-color: #eaeaea;
    }
  }
}
