@use "./_vars.scss" as *;
@use "./mixins/pxToRem.scss" as *;

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 19px 16px;
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid $light-cyan;
  @media (min-width: $breakpoints-lg) {
    display: none;
  }
  .header__info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__logo {
      display: flex;
      align-items: center;
      @include pxToRem(gap, 16);
    }
    .header__action-btns {
      display: none;
      align-items: center;
      justify-content: center;
      @include pxToRem(gap, 16);
      @media (min-width: $breakpoints-md) {
        display: flex;
      }
    }
    .header__divider {
      border-radius: 9999px;
      @include pxToRem(width, 2);
      @include pxToRem(height, 32);
      background-color: #eaeaea;
    }
  }
}
