@use "./_vars.scss" as *;
@use "./mixins/pxToRem.scss" as *;

.main {
  $offset-left: 1rem;
  $offset-left-lg: 32px;
  $offset-right: 25px;
  grid-area: main;
  display: flex;
  flex-direction: column;
  @include pxToRem(row-gap, 24);
  @include pxToRem(margin-top, 24);
  margin-left: $offset-left;
  @media (min-width: $breakpoints-lg) {
    @include pxToRem(padding-top, 42);
    @include pxToRem(padding-right, 0);
    @include pxToRem(margin-top, 0);
    @include pxToRem(margin-right, 0);
    margin-left: $offset-left-lg;
  }
  .main__title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: $breakpoints-lg) {
      & {
        padding-right: $offset-right;
      }
    }
    &:before {
      content: "";
      position: absolute;
      display: block;
      right: calc(100% + 12px);
      @include pxToRem(width, 8);
      @include pxToRem(height, 40);
      background-color: $cyan;
      border-radius: 9999px;
      @media (min-width: $breakpoints-lg) {
        & {
          right: calc(100% + 27px);
        }
      }
    }
    h1 {
      @include pxToRem(font-size, 28);
      @include pxToRem(line-height, 40);
      letter-spacing: -0.6px;
      font-weight: bold;
    }
    .main__links {
      display: none;
      align-items: center;
      @include pxToRem(gap, 32);
      @media (min-width: $breakpoints-lg) {
        display: flex;
      }
      .main__link {
        display: flex;
        align-items: center;
        @include pxToRem(gap, 8);
        @include pxToRem(font-size, 16);
        font-weight: 500;
        @include pxToRem(line-height, 24);
        letter-spacing: -0.2px;
      }
    }
  }
  nav {
    position: relative;
    margin-left: calc($offset-left * -1);

    &:after {
      content: "";
      pointer-events: none;
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(
        90deg,
        $light-gray 0%,
        transparent 4%,
        transparent 90%,
        $light-gray 100%
      );
    }
    @media (min-width: $breakpoints-lg) {
      & {
        margin-left: 0;
      }
      &::after {
        display: none;
      }
    }

    .nav__links {
      display: flex;
      overflow: auto;
      padding: 0 $offset-left;
      list-style-type: none;
      @media (min-width: $breakpoints-lg) {
        & {
          padding: 0;
          flex-wrap: wrap;
        }
      }
      .nav__link {
        @include pxToRem(font-size, 16);
        white-space: nowrap;
        display: inline-block;
        padding: 8px 16px 8px 9px;
        border: 2px solid transparent;
        @include pxToRem(border-radius, 6);
        &.nav__link--active {
          background-color: #fff;
          border: 2px solid $light-cyan;
        }
        a {
          @include pxToRem(line-height, 24);
          letter-spacing: -0.2px;
          font-weight: 500;
          color: $gray;
        }
      }
      @media (min-width: $breakpoints-lg) {
        .nav__links {
          overflow: initial;
          flex-wrap: wrap;
          .nav__link {
            padding: 8px 21px;
          }
        }
      }
    }
  }
  .article {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    @media (min-width: $breakpoints-lg) {
      & {
        padding-right: $offset-right;
      }
    }
    .article__content {
      display: flex;
      flex-direction: column;
      @include pxToRem(gap, 16);
      @include pxToRem(height, 130);
      @media (min-width: $breakpoints-md) and (max-width: $breakpoints-lg) {
        @include pxToRem(height, 194);
      }
      @media (min-width: $breakpoints-lg) {
        @include pxToRem(height, 197);
      }
      .article__preview {
        @include pxToRem(font-size, 14);
        @include pxToRem(line-height, 20);
        @include pxToRem(letter-spacing, 0.2);
        @media (max-width: $breakpoints-md) {
          &:last-of-type {
            display: none;
          }
        }
      }
      .article__link {
      }
    }
    .article__image {
      margin-left: calc($offset-left * -1);
      @include pxToRem(width, 320);
      @media (min-width: $breakpoints-lg) {
        margin-left: calc($offset-left-lg * -1);
      }
    }
    @media (min-width: $breakpoints-md) and (max-width: $breakpoints-lg) {
      @include pxToRem(column-gap, 48);
      @include pxToRem(margin-right, 25);
      .article__image {
        @include pxToRem(width, 360);
      }
    }
    @media (min-width: $breakpoints-md) {
      flex-direction: row;
      .article__image {
        border-radius: 6px;
        margin-left: 0;
      }
    }
    @media (min-width: $breakpoints-lg) {
      @include pxToRem(column-gap, 36);
      .article__image {
        width: auto;
        @include pxToRem(height, 300);
      }
    }
  }
  .repair-technics {
    display: flex;
    flex-direction: column;
    @include pxToRem(row-gap, 16);
    @media (min-width: $breakpoints-md) {
      & {
        @include pxToRem(row-gap, 24);
      }
    }
    &__header {
      background: linear-gradient(
        90deg,
        rgb(248, 248, 248) 0%,
        rgb(255, 255, 255) 100%
      );
      border-bottom: 1px solid $light-cyan;
      margin-left: calc($offset-left * -1);
      margin-right: calc($offset-right * -1);
      padding: 1.5rem 1rem;
      text-transform: uppercase;
      @include pxToRem(font-size, 16);
      @include pxToRem(line-height, 24);
      @include pxToRem(letter-spacing, -0.2);
      font-weight: 500;
      color: $gray;
      @media (min-width: $breakpoints-md) {
        & {
          margin-right: 0;
          padding-right: 0;
        }
      }
      @media (min-width: $breakpoints-lg) {
        & {
          margin-left: calc($offset-left-lg * -1);
          padding-left: $offset-left-lg;
        }
      }
    }

    .repair-technics__content {
      max-width: 100vw;
      @include pxToRem(row-gap, 16);
      display: flex;
      flex-direction: column;
      position: relative;
      margin-left: calc($offset-left * -1);

      &:after {
        content: "";
        pointer-events: none;
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
        left: 0;
        top: 0;
        background: linear-gradient(
          90deg,
          $light-gray 0%,
          transparent 4%,
          transparent 90%,
          $light-gray 100%
        );
      }

      @media (min-width: $breakpoints-md) {
        & {
          margin-left: 0;
          margin-right: 0;
          &:after {
            display: none;
          }
        }
      }
      @media (min-width: $breakpoints-lg) {
        & {
          padding-right: $offset-right;
        }
      }
      @media (min-width: $breakpoints-md) and (max-width: $breakpoints-lg) {
        & {
          padding-right: $offset-right;
        }
      }
      .swiper-wrapper {
        align-content: stretch;
        @media (min-width: $breakpoints-md) {
          & {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, auto);
            @include pxToRem(grid-auto-rows, 78);
            @include pxToRem(max-height, 180);
            overflow-y: hidden;
            @include pxToRem(column-gap, 24);
            @include pxToRem(row-gap, 16);
            transition: all 0.2s ease-out;
            &.technics-slider__wrapper--active {
              max-height: 100vh;
            }
          }
        }
        @media (min-width: $breakpoints-lg) {
          & {
            grid-template-columns: repeat(4, 1fr);
          }
        }
        .swiper-slide {
          background-color: #fff;
          @include pxToRem(padding, 16);
          @include pxToRem(border-radius, 6);
          border: 1px solid #eaeaea;
          display: flex;
          height: 100%;
          align-items: center;
          justify-content: space-between;
          @media (max-width: $breakpoints-md) {
            & {
              height: auto;
              width: 240px;
            }
          }
          img {
            user-select: none;
          }
        }

        .technics-slider {
          &__slide {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          &__button {
            position: relative;
            @include pxToRem(width, 40);
            @include pxToRem(height, 40);
            border: 2px solid $red;
            border-radius: 50%;
            &:after {
              content: "";
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              @include pxToRem(width, 8);
              @include pxToRem(height, 8);
              border-right: 3px solid $red;
              border-bottom: 3px solid $red;
              border-radius: 1px;
              transform: translateY(-50%) translateX(-50%) rotate(-45deg);
            }
          }
        }
      }
      .swiper-pagination {
        position: static;
        .swiper-pagination-bullet-active {
          background-color: $gray;
        }
        @media (min-width: $breakpoints-md) {
          & {
            display: none;
          }
        }
      }
      .more-button {
        display: none;
        @media (min-width: $breakpoints-md) {
          & {
            display: flex;
            & img {
              transition: transform 0.2s ease;
            }
            &.more-button--active img {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
    &.repair-diff-type-technics {
      .repair-technics__content {
        .type-technics-slider {
          &__wrapper {
            @include pxToRem(max-height, 170);
            @media (min-width: $breakpoints-md) {
              &.type-technics-slider__wrapper--active {
                max-height: 100vh;
              }
            }
            .swiper-slide {
              @include pxToRem(min-height, 160);
              background-color: #fff;
              .technics-slider__slide {
                flex-direction: column;
                height: 100%;
                p {
                  font-weight: 500;
                  align-self: flex-start;
                }
                button {
                  align-self: flex-end;
                }
              }
            }
          }
        }
      }
    }
    &.services-cost {
      .services-cost__header--desktop {
        display: none;
        @media (min-width: $breakpoints-md) {
          & {
            display: flex;
            align-items: center;
            padding: 0 1rem;
            @include pxToRem(column-gap, 22);
            color: $gray;
            & > div::first-letter {
              text-transform: uppercase;
            }
            & > div {
              color: inherit;
              font-weight: 500;
            }
            & > div:first-child {
              flex: 2.9;
            }
            & > div:nth-child(2) {
              flex: 1;
            }
            & > div:last-child {
              flex: 2;
            }
          }
        }
      }
      .repair-technics__content {
        .swiper-wrapper {
          @media (min-width: $breakpoints-md) {
            & {
              max-height: unset;
              width: unset;
              display: flex;
              flex-direction: column;
              row-gap: 0;
              font-weight: 500;
              padding: 5px 16px 23px;
              @include pxToRem(border-radius, 6);
              background-color: #fff;
            }
          }
        }
        .swiper-slide {
          display: block;
          @media (min-width: $breakpoints-md) {
            & {
              display: flex;
              flex-direction: row;
              width: 100%;
              border-top: 0;
              border-left: 0;
              border-right: 0;
              border-radius: 0;
              padding-left: 0;
              padding-right: 0;
            }
          }
          @media (min-width: $breakpoints-lg) {
            & {
              height: auto;
            }
          }
        }
        .services-cost__slide {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          @include pxToRem(row-gap, 16);
          height: 100%;
          @media (min-width: $breakpoints-md) {
            & {
              flex-direction: row;
              width: 100%;
              align-items: center;
              @include pxToRem(column-gap, 22);
            }
          }
          .services-cost {
            &__header,
            &__main,
            &__footer {
              @include pxToRem(font-size, 14);
              @include pxToRem(line-height, 16);
              p:first-child {
                color: $gray;
                margin-bottom: 4px;
                @media (min-width: $breakpoints-md) {
                  & {
                    display: none;
                  }
                }
                &::first-letter {
                  text-transform: uppercase;
                }
              }
            }
            &__header {
              @media (min-width: $breakpoints-md) {
                & {
                  flex: 3;
                }
              }
            }
            &__main {
              @media (min-width: $breakpoints-md) {
                & {
                  flex: 1;
                }
              }
            }
            &__footer {
              @media (min-width: $breakpoints-md) {
                & {
                  flex: 2;
                }
              }
              p:last-child {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .services-cost__button {
                  padding: 4px 12px;
                  display: flex;
                  align-items: center;
                  @include pxToRem(gap, 8);
                  @include pxToRem(font-size, 12);
                  @include pxToRem(line-height, 24);
                  @include pxToRem(letter-spacing, -0.15);
                  background-color: $red;
                  border-radius: 9999px;
                  text-transform: uppercase;
                  font-weight: 700;
                  color: #fff;
                  &:after {
                    content: "";
                    display: inline-block;
                    @include pxToRem(width, 8);
                    @include pxToRem(height, 8);
                    @include pxToRem(border-radius, 1);
                    border-right: 3px solid #fff;
                    border-bottom: 3px solid #fff;
                    transform: rotate(-45deg);
                  }
                }
              }
            }
          }
        }
      }
      .services-cost {
        &__info {
          display: flex;
          flex-direction: column;
          @include pxToRem(row-gap, 16);
          @include pxToRem(font-size, 14);
          @include pxToRem(line-height, 20);
          @include pxToRem(letter-spacing, 0.2);
          @media (min-width: $breakpoints-md) and (max-width: $breakpoints-lg) {
            & {
              max-width: 50%;
            }
          }
          button {
            display: flex;
            align-items: center;
            @include pxToRem(gap, 8);
            font-weight: 500;
            @include pxToRem(font-size, 14);
            @include pxToRem(line-height, 20);
            @include pxToRem(letter-spacing, -0.2);
            &:after {
              content: "";
              display: inline-block;
              @include pxToRem(width, 8);
              @include pxToRem(height, 8);
              @include pxToRem(border-radius, 1);
              border-right: 3px solid $red;
              border-bottom: 3px solid $red;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
    .swiper-wrapper {
      @media (min-width: $breakpoints-lg) {
        & {
          padding-right: $offset-right;
        }
      }
    }
  }
}

.swiper-slide {
  user-select: none;
  a {
    user-select: none;
  }
}
